.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color: green;
}

.logo {
    font-size: 25px;
}

.logsbutton {
    display: flex;
    justify-content: space-around;
    width: 10%;
}

.main-img {
    height: auto;
    max-width: 100;
    width: auto;
    background: black;
}
.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color: green;
    list-style: none;

}

