.form {
    position: fixed;
    top: 0;
    left: 50%;
    margin-left: -190px;
    width: 300px;
    padding: 25px;
    background-color: white;
    border: 2px solid;
    bottom: 0;
}
.screen {
    background: rgb(211, 250, 203);
    top: 0;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
}
.input {
    display: block;
    background: white;
    border: 1px solid lightgray;
    padding: 10px;
    width: 200;
  }

  .submit-form {
      background: green;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      font-size: 15px;
      margin: 6px 3px;
      width: 75%;
  }
  .demo {
    background: lightgray;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    font-size: 15px;
    margin: 6px 3px;
    width: 75%;
  }
  .or {
      display: flex;
      justify-content: center;
      margin: 4px;
  }
  .header {
        display: flex;
        justify-content: center;
        margin: 4px;
        font-size: 200%;
        font-weight: 300;
  }
  
  