.list-of-notes {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: gainsboro;
    min-width: 300px;
    max-width: 300px;
}
.notes-list-header {
    height: 100px;
    border-bottom: 1px solid black;
}

.notes-header-title {
    h1 {
        padding: 15px 25px;
        font-weight: 900;
        font-size: 20px;
    }
}
.notes-count{
    padding: 15px 25px;
    font-size: 15px;
}
.notes-list-body {
    width: 100%;
    overflow: auto;
    li {
        list-style: none;
        border-bottom: 1px solid gray;
        &:hover{
            cursor: pointer;
            background: whitesmoke;
        }
        &.active{
            background: whitesmoke;
            border: 1px solid blue;
        }
    }
}
.notes-list-box {
    box-sizing: border-box;
    height: 125px;
}
.notes-list-box-header {
    padding: 15px 25px;
}
.notes-list-box-header-title {
    font-weight: 900;
    font-size: 20px;
    padding-bottom: 5px;
    text-overflow: ellipsis;
}

.notes-list-body-dates {
    padding: 15px 25px;
    font-size: 12px
}