.notebook_index {
    padding: 40px;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    table {
        width: inherit;
        border-collapse: collapse;
        tr {
            height: 40px;
        }
        thead {
            text-align: left;
            background: lightgray;
            border-bottom: 1px solid gray;
        }
        tbody {
            tr {
                height: 40px;
            }
        }
    }
}
.notebook-header-top {
    margin-bottom: 40px;
    h1 {
        font-size: 25px;
    }
}
.notebook-header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
}
.notebook-header-count {
    h2 {
        font-size: 20px;
    }
}
.new-notebook {
    h2 {
        font-size: 20px;
        color: green;
    }
}
.title {
    padding-left: 5px;
}
.action {
    text-align: right;
    padding-right: 5px;
}
.notebook-title {
    padding-left: 7px;
}
.notebook-action {
    text-align: right;
    position: relative;
    padding-right: 10px;
}
