.notebook_index {
    padding: 40px;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    table {
        width: inherit;
        border-collapse: collapse;
        tr {
            height: 40px;
        }
        thead {
            text-align: left;
            background: lightgray;
            border-bottom: 1px solid gray;
        }
        tbody {
            tr {
                height: 40px;
            }
        }
    }
}
.notebook-header-top {
    margin-bottom: 40px;
    h1 {
        font-size: 25px;
    }
}
.notebook-header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
}
.notebook-header-count {
    h2 {
        font-size: 20px;
    }
}
// .new-notebook {
//     button {

//     }
// }
.new-notebook-button {
    font-size: 20px;
    color: green;
}
.title {
    padding-left: 5px;
}
.action {
    text-align: right;
    padding-right: 5px;
}
.notebook-title {
    padding-left: 7px;
}
.notebook-action {
    text-align: right;
    position: relative;
    padding-right: 15px;
}
.modal {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    z-index: 10;
}
.modal-child {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 300px;
    background-color: white;
    transform: translate(-50%, -50%);
    padding: 20px 25px 0;
    align-items: center;
    p {
        font-size: 14px;
        padding-top: 10px;
        color: #737373;
    }
}
.modal-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
    h2 {
        font-size: 18px;
        font-weight: 600;
    }
    button {
        background-color: white;
        i {
            color: green;
            font-size: 25px;
        }
    }
}

.notebook-form-parent {
    padding-top: 15px;
    form{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        label {
            h3{
                font-size: 12px;
                color: #333;
            }
            input {
                width: 500px;
                height: 40px;
                padding-left: 10px;
                color: black;
                font-size: 1.25em;
                border: 1px solid gray;
                border-radius: 4px;
            }
        }
    }
}

.notebook-form-button-parent {
    padding-top: 25px;
    display: flex;
    justify-content: flex-end;
}
.notebook-form-button {
    color: white;
    background-color: green;
    width: 75px;
    height: 40px;
    display: flex;
    justify-content: center;
    border-radius: 4px;
    align-items: center;
}
.hidden {
    display: none;
}
.action-li {
    text-align: left;
    list-style: none;
    position: absolute;
    z-index: 1;
    background-color: white;
    box-shadow: -2px -2px 2px gray, 2px 2px 2px gray, -2px 2px 2px gray, 2px -2px 2px gray;
    width: 150px;
    border: 1px gray solid;
    li {
        padding: 5px;
    }
    li:hover {
        background-color: lightgray;
    }
}
.delete-modal-child {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 200px;
    background-color: white;
    transform: translate(-50%, -50%);
    padding: 20px 25px 0;
    align-items: center;
    p {
        font-size: 14px;
        padding-top: 10px;
        color: #737373;
    }
    // .close-window{
    //     color: black;
    // }
}
.delete-modal-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
    h2 {
        font-size: 18px;
        font-weight: 600;
    }
    button {
        // background-color: black;
        i {
            color: gray;
            font-size: 25px;
        }
    }
}

.delete-actions {
    display: flex;
    justify-content: flex-end;
    padding-top: 50px;

}
.delete-cancel {
    color: gray;
    background-color: white;
    width: 75px;
    height: 40px;
    display: flex;
    justify-content: center;
    border-radius: 4px;
    align-items: center;
}
.delete-delete {
    color: white;
    background-color: red;
    width: 75px;
    height: 40px;
    display: flex;
    justify-content: center;
    border-radius: 4px;
    align-items: center;
}