.app {
    display: flex;
    height: 100vh;
}
.sidebar {
    display: block;
    width: 250px;
    height: 100%;
    background: #1a1a1a;
    position: relative;
    color: white;
}

.sidebar-profile {
    display: flex;
    align-items: center;
    padding: 20px;
}
.profile-name {
    padding-left: 10px;
}

.fa-angle-down {
    margin-left: 10px;
}

.add {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 80%;
    background-color: green;
    margin-left: 20px;
    border-radius: 20px;
    margin: 20px;
    height: 6%;
}
.fa-plus {
    margin-right: 10px;
    margin-left: 10px;

}
.noteindex{
    display: flex;
    flex-direction: column;
    overflow: auto;
}
.contents {
    height: 60%;
    ul {
        li {
            display: flex;
            align-items: center;
            padding-left: 10px;
            &:hover {
                background: gray;
                cursor: pointer;
            }
        }
    } 
    .fas {
    padding: 10px;
    }
}

.sidebar-footer {
    padding: 8px 15px;
    border-top: 1px solid gray;
}

