.app {
    display: flex;
    height: 100vh;
}
.sidebar {
    display: block;
    width: 250px;
    height: 100%;
    background: #1a1a1a;
    position: relative;
    color: white;
}
.sidebar-dropdown {
}
.sidebar-profile {
    display: flex;
    align-items: center;
    padding: 25px;
}
.profile-name {
    padding-left: 10px;
}

.fa-caret-down {
    margin-left: 10px;
}

.add {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    background-color: green;
    margin-left: 15px;
    border-radius: 20px;
    margin: 20px;
}
// #logout {
//     color: black;
//     text-align: center;
//     margin-bottom: 100px;
//     background: green;
 
// }
.noteindex{
    display: flex;
    flex-direction: column;
    overflow: auto;
}
// #note {
//     padding: 15px;
//     border-bottom: 1px solid gray;
//     border-top: 1px solid gray;
//     color:rgb(107, 106, 106);
//     background: rgb(238, 236, 236) ;
//     font-weight: bold;
// }

// .nav-header {
//     width: 100%;
//     margin-left: 350px;
//     padding: 20px;
//     font-weight: bold;
//     font-size: 25px
// }

